# Set default behavior to automatically detect text files and normalize to LF
* text=auto eol=lf

# Explicit source code and document mappings
*.ts text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.inc text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.svg text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf

# Binary files
*.png binary
*.jpg binary
*.webp binary
*.iwd binary
*.iwi binary
*.bin binary
